[user]
    name = {{ git.defaults.name }}
    email = {{ git.defaults.email }}
    signingkey = {{ git.defaults.signingkey }}
[color]
    ui = auto
[core]
    editor = code
    excludesfile = ~/.gitignore
[credential]
    helper = osxkeychain
[gpg]
    program = gpg
[commit]
    gpgsign = true
[fetch]
    {# Fetch will automatically behave as if the --prune option was given on the command line #}
	prune = true
[rebase]
    {# If set to true enable --autosquash option by default #}
    autoSquash = true
    {# Automatically create a temporary stash entry before the operation begins, and apply it after the operation ends #}
    autoStash = true
[push]
    {# Assume --set-upstream on default push when no upstream tracking exists for the current branch #}
    autoSetupRemote = true
[pull]
    {# Rebase branches on top of the fetched branch, instead of merging the default branch from the default remote when "git pull" is run #}
    rebase = true
[init]
    defaultBranch = main
{% if git.work.dir is defined %}
[includeIf "gitdir:~/{{ git.work.dir }}/"]
    path = ~/.gitconfig-work
{% endif %}